.idea

/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/libraries/information_schema_FNRwLQ.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Automaze-To-Do.iml
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/sqldialects.xml
/.idea/data_source_mapping.xml
/.idea/dataSources.xml

!/.idea/
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
